html{
	font-family: 'Yusei Magic', sans-serif;
}
body{                                                                                                                                            	font-family: Yusei Magic;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.2;
	min-height: 100vh;
	background: url(background.jpg);
	color: white;
}
.text{
	margin: 30px 100px;
}
.second{
	color: #D3D3D3;
}
.photo{
	border-color: orange;
	 background-size: cover;
     width: 400px;
     height: 300px;
     margin: 0px 30%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     transition:all 0.5s ease;
     box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}
.none{
	 background-size: cover;
     width: 400px;
     height: 300px;
     margin: 0px 30%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}
.photo1{
	background-image: url(img1.jpg);
	background-size: cover;
}
.photo2{
	background-image: url(img2.jpg);
	background-size: cover;;   
}.photo3{
	background-image: url(img3.jpg);qth                                                                                                                                              
	background-size: cover;;   
}.photo4{
	background-image: url(img4.jpg);
	background-size: cover;;   
}.photo5{
	background-image: url(img5.jpg);
	width: 300px;
     height: 400px; 
     background-size: cover;;    
}.photo6{
	background-image: url(img6.jpg);
	background-size: cover;;   
}.photo7{
	background-image: url(img7.jpg);
	background-size: cover;;   
}
.photo8{
	background-image: url(img8.jpg);
	background-size: cover;;   
}
.photo9{
	background-image: url(img9.jpg);
	background-size: cover;;   
}
.photo10{
	background-image: url(img10.jpg);
	background-size: cover;;   
}
.photo11{
	background-image: url(img11.jpg);
	background-size: cover;;   
}
.photo12{
	background-image: url(img12.jpg);
	background-size: cover;;   
}
.header{
	background-color: black;
	font-family: 'Yusei Magic';
	margin: 7px;
	top: 0;
	left: 0;
	width: 100%;
}
h1{
	margin-left: 35%
}
footer{
	background-color: black;
	font-family: 'Yusei Magic';
	margin: 7px;
	top: 0;
	left: 0;
	width: 100%;
}
li{
	font-size: 26px;
	margin: 20px;
	text-align: left;
}
.photo:hover{
	transform: rotate(3deg) scale(1.07);
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.4);
}
.name{
	margin: 0 0 0 70%;
	font-family: 'Yusei Magic';
}